body {
    padding: 5%;
}

.schools {
    height: 270px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page1 {
    height: 350px;
}

#page2 {
    height: 1000px;
    padding-top: 100px;
}

#page3 {
    height: 1000px;
}

.cd-panel {
    /*...*/
    visibility: hidden;
    transition: visibility 0s 0.6s;
}
 
.cd-panel.is-visible {
    visibility: visible;
    transition: visibility 0s 0s;
}
 
.cd-panel-header {
    /*...*/
    position: fixed;
    top: -50px;
    width: 90%;
    height: 50px;
    transition: top 0.3s 0s;
    background-color: blue;
}
 
.is-visible .cd-panel-header {
    top: 50px;
    position: fixed;
    width: 25%;
    right: 0;
    transition: top 0.3s 0.3s;
}
 
.cd-panel-container {
    /*...*/
    position: fixed;
    width: 25%;
    height: 80%;
    top: 120px;
    right: 0;
    background-color: gray; 
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
 
    transform: translate3d(100%, 0, 0);
}
 
.is-visible .cd-panel-container {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
}